[2018-02-07 12:21] gretschann opened #1 "Update visjs version"
How can i update visjs version used in vue2vis?

[2018-02-11 14:27] idkw opened #2 "Import doesn't work"
I cannot manage to import vue2vis component with a super basic setup :

[code]

The error thrown is :

[Vue warn]: Unknown custom element: <timeline> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

[2018-02-13 13:23] alexcode commented on #1
You can fork the project or wait for a couple of days while I find some time to do it.

[2018-02-13 22:07] idkw commented on #2
Thanks, works with `import { Timeline } from 'vue2vis'`

[2018-02-13 22:07] #2 closed

[2018-02-26 09:42] alexcode commented on #1
I'm closing this as it was fix by aa14d55

[2018-02-26 09:42] #1 closed

[2018-03-11 20:13] tartinesKiller opened #5 "These relative modules were not found: ./img/..."
Hello,
When I try to use the library, at compile time, webpack throws these errors:
[code]

What could be wrong?

Thanks in advance, have a good day.

[2018-03-12 11:27] Menighin commented on #5
Hi @tartinesKiller,
What were you trying to do? Just build? Can you tell me how you did it?

[2018-03-12 17:44] tartinesKiller commented on #5
Hi, thanks for the answer, and sorry for not including sample
In my main.js:
[code]
And in my component:
[code]
~ is configured to be an alias for node_modules.
I think the css is imported as it should be, but it seems webpack couldn't find the vis.js images.
I've also found this discussion: [https://github.com/webpack-contrib/css-loader/issues/253](https://github.com/webpack-contrib/css-loader/is

[2018-03-12 22:43] Menighin commented on #5
Humm that's weird.

This means you copy to where the vue2vis is or to where your component itself is?

Also, could you please try using Vis without Vue2Vis, importing the CSS, just to check if it would work?

[2018-03-15 10:16] Akshin opened #7 "timeline with kilometers"
Hi. Can I use kilometers in vue2vis instead a date ?

[2018-03-15 11:18] alexcode commented on #7
No, [visjs Timeline](http://visjs.org/docs/timeline/) is basically a time-based Gantt chart.

[2018-03-15 11:19] #7 closed

[2018-03-18 23:45] beerett opened #8 "Drop event"
I'm trying to create a timeline and use the techniques from the Visjs example merged with your adapter and I'm having difficulty get events to fire at all.

http://visjs.org/examples/timeline/other/drag&drop.html

Could you provide an example for binding a simple event?

[2018-03-19 00:02] beerett commented on #8
Figured it out... I feel dumb right now haha

[2018-03-19 00:02] #8 closed

[2018-03-19 11:10] Menighin commented on #5
@tartinesKiller any news on this?
I have cloned the project and used it without any problems...
If it is working for you now could you please close the issue?

Thanks!

[2018-03-19 13:37] tartinesKiller commented on #5
Hello @Menighin, I'm sorry for the delay, but it's been a busy week, I'll try to spend some time to test it this evening.
Thanks again, have a good day!

[2018-03-20 11:56] nabeelalis opened #9 "Not able to import the module."
I tried importing this.
`import { Timeline } from 'vue2vis';`
But it is giving me same error
This dependency was not found:
[code]

[2018-03-20 14:30] alexcode commented on #9
@nabeelalis did you tried to run `npm install --save vue2vis` ?

[2018-03-21 02:12] nabeelalis commented on #9
Yes multiple times. But not working.

[2018-03-21 12:20] Menighin commented on #9
Hi @nabeelalis,

Do you get an error when you run `npm install --save vue2vis`, right? Which error? The error you reported above seems to be because you are trying to use it without installing. So what is the error you get when you try to install it?

[2018-03-21 18:12] nabeelalis commented on #9
Package.json file is updated. Also package is available in node _modules. I don't understand why it is getting the same error. I have tried installing it multiple times but still ran into this error while installing it.

[2018-03-21 23:18] Menighin commented on #9
Hi @nabeelalis, investigating this I see there is some problem with the recently launched version `0.0.10`. Please update your `package.json` to use `0.0.9` and you should be good to go with the `Timeline` (0.0.9 doesnt have the `Network` component, though).

@alexcode, I don't know exactly how a package is made public on NPM, but it seems the build for it is not right. When I made the pull reques

[2018-03-22 05:14] nabeelalis commented on #9
Sure I will look into this. I only need Timeline for now.

[2018-03-22 18:29] alexcode commented on #9
@Menighin I should have checked better. I'll try to fix this ASAP.

[2018-03-26 13:44] alexcode commented on #9
I've move the examples to a proper vue project in order to decorrelate the library from the examples dd0fe00da6dff40f7513e512c43856d86eec2b29.

The version 0.0.11 should be fixed https://jsfiddle.net/ejdut8fm/99/

[2018-03-26 13:44] #9 closed

[2018-04-10 07:57] erhansaydam opened #10 "How to create Streaming Data Graph"
Hi,
I would like to generate streaming data graph as in the official samples: http://visjs.org/examples/graph2d/15_streaming_data.html (Static selected)

How can I create such a graph with vue2vis graph2d component. In the official sample, it uses a renderStep function where it invokes a getWindow function to proceed. But vue2vis graph2d component does not involve a getWindow method.

Could you pr

[2018-04-12 00:12] Menighin commented on #5
Hi @erhansaydam, is it `vis.css` file?

If so, you should import it by yourself like we do in the examples [here](https://github.com/alexcode/vue2vis/blob/dd0fe00da6dff40f7513e512c43856d86eec2b29/examples/src/App.vue#L256)

@alexcode I think we should remove the `Vis` dependency from this project and let the user inject the version he wants too... Then this kind of problems vis-related should disa

[2018-04-17 05:46] Thj007 opened #12 "loading a number of nodes too low"
Hi, I use your network component in my project. but I have a trouble when  the nodes more than 7000。I will draw the graph very long  and the whole page is very carlton. How to optimize the interface ？

[2018-04-17 11:17] Menighin commented on #12
Hi, this question is more related to Vis itself rather than this wrapper. Please open an issue/question on [Vis repository](https://github.com/almende/vis).

Regards,

[2018-04-18 09:15] Thj007 commented on #12
ok . thanks

[2018-04-25 11:03] alexcode commented on #10
I've never did a streaming graph this way but it should be doable.
And yes, we did forget to add `getWindow` and `setWindow`. If you feel like adding them it could be nice, otherwise I'll try to do that asap.

[2018-04-25 12:50] erhansaydam commented on #10
Yes, make sure.

There are already setWindow method ready. I have added getWindow method to graph2d component and committed.

Best regards.

[2018-04-25 13:17] alexcode commented on #10
@erhansaydam, do not hesitate to send a pull request ;)

[2018-04-26 12:42] alexcode commented on #5
@tartinesKiller, I believe the commit f0f6178 should solve this. Please let me know.

[2018-04-26 12:49] #10 closed

[2018-05-10 17:17] tartinesKiller commented on #5
Hi, I'm sorry for the (very) long delay.

Unfortunately, even after the commit, the same error occurs.
However, the examples works well, so I guess the problem comes from my configuration of webpack.
I've tried one more time: doing @import "vue2vis/dist/vue2vis.css"; in style tag, webpack does not search images inside node_modules/vue2vis/etc, but in the folder where my components is located (crea

[2018-05-20 22:39] uwmyuan opened #13 "nodes and edges in Network are not binded in the other direction"
Hi,
The [network example](https://github.com/alexcode/vue2vis/blob/fc3d368b5a06d69fd7af9a661a31b3b3a1c7dbcd/examples/src/App.vue#L7-L9) shows the usage of the network module. However, if dragging one node (say node data n) to another location, the attributes n.x and n.y won't change accordingly. One may simply replicate this by adding one duplicate instance of network component and binding the sam

[2018-05-25 17:46] alexcode commented on #13
I'm currently looking at it right now. I will improve the binding in the next version of vue2vis.
I should have a dev version for you to test by next week.

[2018-05-25 18:05] uwmyuan commented on #13
Thanks for your kindly reply. I'm looking forward to your dev version.

[2018-05-28 16:00] alexcode commented on #13
Hi @uwmyuan,

Looking at the visjs doc a bit deeper, I don't think `x` and `y` are mutate by Visjs. My understanding is that you can set the initial position of a node by setting his `x` and `y` properties but then you should call the `getPositions` to retrieve the current position.

However, the event `dragEnd` will return the last position of the node but it will be before it is stabilized. It m

[2018-05-29 23:37] uwmyuan commented on #13
Hi @alexcode ,
Thanks a lot. I understand.
I may (1) call the method `getPositions` after the event `afterDrawing` to update the `x` and `y` properties, or (2) call `storePositions` to get the `Dataset` of current positions.
I have one more question. Do you recommend using the `on` method of JQuery to bind event if it's not able to use vue `@` binder in in-DOM template?

[2018-05-31 17:06] uwmyuan commented on #13
Very helpful, thanks. I got it.

[2018-06-11 22:40] uwmyuan commented on #13
Hi @alexcode,

I have one more question about the binding event to function. In the vanilla vis.js, the [example ](https://github.com/almende/vis/blob/5563fc616885578ad51b2dfa6ccf70ccebf06126/examples/network/other/manipulation.html#L112-L113) shows binding the `click` event of buttons in a popup form to a method for `options.manipulation`.
Could provide an example of `vue2vis` for this job?

I tr

[2018-06-20 08:19] alexcode commented on #13
Could you send me a jsfiddle of what you intend to do, it will be helpful?

[2018-06-20 08:19] #5 closed

[2018-06-20 21:03] uwmyuan commented on #13
Thanks. Yes, of course. I'm a starter on jsfiddle and vue-cli. I'll prepare an example and update this comment later.

[2018-06-26 08:30] tea3 commented on #13
@alexcode Hi, I do not know how to get the selected-node in the click event.  Please tell me how to solve.

[2018-06-26 14:17] toreba opened #14 "Multiple instance"
Hi

I'm trying to add multiple instance of network on the same page. This almost works, but calling methods via $refs.networkA.... gets mixed up.

As far as I can see, the reason is the module variable "network" inside Network.vue. It will point to the last instance created.

[2018-07-09 17:01] satkunas opened #15 "Timeline methods"
We love this Vuejs extension, however there's no hints in the docs on how to access the `Timeline` methods seen here: http://visjs.org/docs/timeline/#Methods such as `redraw()`.

How can Vuejs script get access to the Timeline objects' and its methods?

[2018-07-10 11:01] Reollyn opened #16 "Import problem with vue2vis."
Hello,

when I try to import the timeline component as it says in the Readme I'm getting this error

`'vue2vis' is not defined`.

I tried to import it like this `import Vue2Vis from 'vue2vis'` and then call it with `Vue2Vis.Timeline` but this does not works neither.

Does anyone know the solutiong for that. Thanks!

[2018-07-10 11:30] Menighin commented on #15
You should give a `ref` atribute to your component and call the methods. For example:

[code]

For more on `refs`, checkout the Vue Documentation: https://vuejs.org/v2/guide/components-edge-cases.html#Accessing-Child-Component-Instances-amp-Child-Elements

[2018-07-10 12:16] Menighin commented on #16
Have you solved it? What was the problem?

[2018-07-10 12:29] Reollyn commented on #16
Yes.

I needed to import it like so `import { Timeline } from 'vue2vis'` and then I needed to declare that component `Vue.component('timeline', Timeline)`.

[2018-07-10 12:29] #16 closed

[2018-07-11 07:38] Reollyn opened #17 "Events not working like drop and others."
Hello,

I'm trying to make a drop event after I drag my items but when I drop it nothing happens the function that i set for the drop event is not called.

In my template I set the event for drop.

`<timeline v-if="items.length > 0" ref="timeline"
        :items="items"
        :groups="groups"
        :options="options"
        :events="['drop', 'changed']"
        @drop="myDropCallback()">
</tim

[2018-07-11 09:41] Mark-Hoog opened #18 "camelCase events should be kebab-cased"
Some of your(vis) events are camelcased like doubleClick and currentTimeTick, this doesn't work when using your component in a html template environment because of html case-insensitivity.

https://vuejs.org/v2/guide/components-custom-events.html#Event-Names

[2018-07-11 13:18] Reollyn commented on #8
How you figure it out?

[2018-07-12 11:57] Reollyn opened #19 "How to get start and end time on drop in vis.js timeline?"
I implemented the vis.js timeline in my vue.js project, but I have a problem with the drop. First of all I think the drop does not works in that library, second how can i get the start and the end time and date when I drag one item and then drop it?

Because the drop event is not working I'm trying to do it with

`@items-update="itemsUpdate()"`

and I'm getting the data back with.

`let properties

[2018-07-13 11:50] Reollyn opened #21 "How to change the grid for drag and resize in vis.js?"
Is there any way to change the grid for the drag and the resize when dragging and resizing items in vis.js. Or is it possible to turn off the grid for the drag and the resize?

Thanks.

[2018-07-23 17:49] alexcode commented on #19
Personally I subscribe to `@drop` and retrieve `snappedTime` out of the event.
Here is a fiddle that demonstrate it: https://jsfiddle.net/ejdut8fm/251/

[2018-07-23 17:53] alexcode commented on #17
As @Mark-Hoog says, here is an exemple: https://jsfiddle.net/alexkodo/ejdut8fm/253/

[2018-07-23 17:53] #17 closed

[2018-07-23 17:55] #15 closed

[2018-07-23 17:56] alexcode commented on #14
@Menighin, any idea on this ?

[2018-07-23 17:59] Menighin commented on #14
Hi @alexcode and @toreba,

I've been really busy last few weeks. This is on my "to-do" list. Will try to have a look this week.

[2018-07-23 18:00] alexcode commented on #21
Sorry but I don't really get what you are trying to do. Is it possible/achievable is vanity Visjs ?

[2018-07-24 06:00] ohjeohje commented on #14
Same problem with timeline.

[2018-07-24 11:13] Menighin commented on #14
@alexcode I think if we change it back as a ""hidden property"" as it was [here](https://github.com/alexcode/vue2vis/blob/9ec148095db962dc4b318d6b22f89e468d358c1e/src/components/Network.vue#L285) it may work. Maybe is the same solution for timeline. Will do some testing today. Do you remember having any downsides with this approach?

[2018-07-25 10:17] alexcode commented on #14
I guess this is fixed by the PR.

[2018-07-25 10:17] #14 closed

[2018-07-25 11:33] Menighin commented on #14
We still need to fix for the other components though.
Will do it today (Y)

[2018-07-31 06:11] skystar-p opened #25 "New release?"
I wonder when does new release comes out. It would be great if there's new version of `vue2vis` with bug-fixed version. Thanks!

[2018-07-31 14:54] alexcode commented on #25
I still have a bug fix but I'll try to have this ready EOW.

[2018-07-31 14:55] alexcode commented on #18
Thanks for the PR @Mark-Hoog.

[2018-07-31 14:55] #18 closed

[2018-08-03 11:49] #19 closed

[2018-08-03 12:03] alexcode commented on #25
Done b60125f

[2018-08-03 12:03] #25 closed

[2018-08-06 05:13] skystar-p opened #26 "Webpack problem"
After upgrading this package to `0.0.14`, Vue fail to load `vue2vis`, saying `window is not defined` (even if the SSR is off).

I solved this problem by adding `config.output.globalObject = 'this'` in `./scripts/webpack.js`. But I want to inspect this issue more detailed.

Can you take a look at this issue?

[2018-08-06 09:38] alexcode commented on #26
Thanks for the report, this seems to be related to https://github.com/webpack/webpack/issues/6525. However, this feature will only be added in Webpack 5, so, the proper workaround is setting `config.output.globalObject = 'this'`.

[2018-08-07 03:37] skystar-p commented on #26
@alexcode Yes, it works like a charm. Thank you for the fast fix!

[2018-08-07 05:43] veber1488 opened #27 "Sorry, but I can`t run demo locally"
I take all the steps, according to the manual:

$ npm link
$ cd examples
$ npm install
$ npm link vue2vis
$ npm run dev
but I had an error. Am I doing smth wrong?
![error](https://user-images.githubusercontent.com/15994837/43756542-a60acab8-9a2e-11e8-9fc3-768a1af8ab0a.jpg)

[2018-08-07 18:51] alexcode commented on #27
Did you run the command npm run build before linking?

Le mar. 7 août 2018 13:23, João Menighin <notifications@github.com> a
écrit :

[2018-08-09 04:59] veber1488 commented on #27
Yes, it's my fault. I did what you said and it made everything work for me. Thanks!

[2018-08-09 09:04] #27 closed

[2018-08-16 16:39] MosheAtOwal opened #28 "Changelog?"
There's a link in the readme to a changelog, but I don't see it anywhere. The link 404's. Am I missing something?

[2018-09-08 02:47] ricvillagrana opened #29 "Trying to getTime on Graph2d"
Error when I am not actually using dates or time
`Error in mounted hook: "TypeError: Cannot read property 'getTime' of undefined"`

[2018-09-29 11:06] malaimoo opened #30 "@stabilization-progress does not run sometimes"
I want to add a loding-bar when vis network is loading, so I add this
[code]
if I remove this method:`this.topoloading = true;` it will print both "startStabilizing" &  "done" .
If I add this `this.topoloading = true;` it will only print "startStabilizing" but no "done" ... It is wired.

[2018-09-29 17:05] Menighin commented on #30
Hi, can you try reproducing it in a JSFiddle? I didn't understand what exactly is happening...

[2018-10-02 01:10] malaimoo commented on #30
Hi, I creat a simple sample in JSFiddle , but It run well, and does not reproduce this bug that in my project, I think the bug is related with my project setting. Thank you.

[2018-10-05 07:59] erhansaydam opened #31 "Using without groups parameter"
Hi,
Can we use timeline without groups parameter like in the example at http://visjs.org/examples/timeline/editing/customSnappingOfItems.html

It does not render when groups parameter not given as in the example. I would not prefer showing a Group name at the left part of timeline.

[code]

Best Regards,

[2018-10-08 10:32] #30 closed

[2018-10-08 10:44] alexcode commented on #29
Hi @ricvillagrana, could you add a JSFiddle which repro this bug.
Thanks.

[2018-10-08 10:46] alexcode commented on #28
Well, we are missing a Changelog :(
However, for now none of the versions should break the existing feature but indeed I should add a changelog.

[2018-10-08 10:48] #21 closed

[2018-10-10 06:45] erhansaydam opened #32 "Timeline lifecycle methods"
Hi,
I could not use lifecycle methods of timeline . I tried to understand the document but could not understand. For example when timeline is mounted, I would like to focus an item ( i.e invoke focus method of timeline). I tried code below but could not succeed.
[code]
Best regards.

[2018-10-25 10:50] alexh225 opened #33 ""locale" option not working"
Hi,
I'm trying to change the localisation from "en" to "de".
From Vis documentation (http://visjs.org/docs/timeline/#Methods) I see that there is an option for that, as long moment.js with locales is installed.
In my vue.js project I have added moment.js and got it working, so that the localisation is set global to "de".
But it seems that if I configure the options for the timeline like below, it

[2018-10-28 15:51] alexh225 commented on #33
Update: The option is working just fine, and is just related to VISjs anyway.
My fault was that the moment js constructor  in my vue application wasn't applied to the property / option "moment" of the timeline correctly. [http://visjs.org/docs/timeline/#Configuration_Options](url)

[2018-10-28 15:52] #33 closed

[2018-11-29 09:01] erhansaydam opened #35 "Doubleclick on timeline is not working"
Hi,
Doubleclick on timeline is not triggering the method.

`<timeline ref="refTimeline" :items="tlItems" :groups="groups" :options="options"
                      @doubleClick="addtoTimeline">`

the addtoTimeline method is not invoked when double clicked. It was working on previous releases.

Could you fix it.

Thank you,
Kind regards.

[2018-12-03 18:51] chapuzzo commented on #35
Hi @erhansaydam, as you can see in this example the bound event must be `double-click` https://github.com/alexcode/vue2vis/blob/master/examples/src/App.vue#L67

I've been looking for it for a little...

[2018-12-04 13:45] alexcode commented on #35
Yes, props are kebab-case in DOM templates https://vuejs.org/v2/guide/components-props.html#Prop-Casing-camelCase-vs-kebab-case

[2018-12-04 13:45] #35 closed

[2018-12-04 13:49] #31 closed

[2018-12-04 14:51] alexcode commented on #29
I would say this is related to visjs itself. Please reopen if you think otherwise.

[2018-12-04 14:51] #29 closed

[2018-12-04 15:04] alexcode commented on #32
I guess is because your $ref is not yet available (https://vuejs.org/v2/api/#ref)

[2018-12-04 15:10] alexcode commented on #28
I've added one

[2018-12-04 15:10] #28 closed

[2018-12-04 15:10] #32 closed

[2018-12-05 10:54] erhansaydam commented on #35
Hi @alexcode, thank you very much, I have tested and no problem at all.

[2018-12-05 12:04] erhansaydam commented on #32
Hi @alexcode, Thank you for your reply, I have solved it by @items-update event.

[2018-12-06 12:13] wildneuro opened #36 "TypeError: Cannot read property 'redraw' of undefined"
When trying to do next:
[code]
getting:
[code]

[2018-12-06 12:48] alexcode commented on #36
Hi @wildneuro, this seems to be related to Vuejs instance lifecyle. The $refs are not available at the first render.
https://github.com/alexcode/vue2vis/issues/32#issuecomment-444131561

[2018-12-06 15:53] wildneuro commented on #36
Ok, will stick to another approach for now.

[2018-12-06 15:53] #36 closed

[2018-12-12 19:47] reckbo opened #37 "'import/no-cycle' error when running examples"
[code]

[code]

[2018-12-13 21:56] pleek91 opened #38 "Question: Is it possible to use a vue component for an items content?"
I'd love to be able to pass in a vue component as an items content. Has anyone figured out a way to do so?

I was able to use the `template` option to render vue components for each item, however vis calls the template method often when interacting with a timeline causing new vue instances to be generated each time.

[code]

If I return only the rendered html from the component and destroy it then

[2018-12-18 10:12] alexcode commented on #38
Hi @pleek91, I do something similar to your first solution but I keep my component instance indexed by the item id to avoid recreating the component each time.
`
let instance = componentCache[item.id];
if(!instance) {
    // create a class from the component that was passed in with the item
    let ComponentClass = Vue.extend(item.component);

    // create a new vue instance from that component a

[2018-12-18 14:30] pleek91 commented on #38
@alexcode that makes sense. But doesn't that prevent the component from receiving any changed data? Perhaps in your case the data will never change.

Thanks

[2018-12-20 10:34] Menighin commented on #13
@CJLees01 you should call `storePositions` on the `network` object.
For this, put a `ref` on the `network` and access it like `this.$refs.network.storePositions()`.

[Here](https://jsfiddle.net/46bfmspt/) is a fiddle working. I'm printing the JSON of the nodes at the bottom of the page. The `@click` event is calling `storePositions`. So when you click the network you can see the JSON changing with

[2018-12-20 13:06] CJLees01 commented on #13
Great - thank you very much.

Just in case it helps anyone else reading this thread, I was expecting `this.$refs.network.storePositions()` to return an object of nodes and x/y co-ordinates. That's not how it behaves though... `storePositions()` adjusts the `this.network.nodes` JSON and returns nothing. So be sure to call the method and then look there for the values.

[2018-12-22 04:20] pingustar opened #39 "Network: Get NodeID on click"
Hi @alexcode,

great work with the adapter, thank you!

I am having trouble figuring out how to get the Node ID when clicking on it.

I assume the event @select-node="????" but how do I get the ID of the selected node?

I would really appreciate if you could lead me in the right direction.

Thanks!

[2018-12-22 21:45] pingustar commented on #39
`this.$refs.network.getSelection().nodes[0]`

this was what I was looking for...

thanks :)

[2018-12-22 21:45] #39 closed

[2019-01-07 10:01] alexcode commented on #38
@pleek91, you're right. However, I currently look at the $parent in order to workaround the reactivity issue.

[2019-01-07 14:20] #38 closed

[2019-01-18 09:36] jakub-wisniewski opened #40 "Timeline: on item click show menu with options"
Currently, when I click on an item the delete button is showing.
I would like to replace this delete button with options button and after click on it mini menu pops up near the item.

Any advice on how to do this?

[2019-01-25 03:27] JacopoKenzo opened #41 "currentTimeTick event not firing for version > 0.0.13"
Hi guys,

I have a simple Timeline component with few items..
one of them has to keep refreshing to maintain the end, right on the "currentTime" red line.

To do that I need the event currentTimeTick.
Everything works perfectly with version 0.0.13 but if I update to the latest 0.0.16 it stop working.
Doesn't look like much changed across the versions.. am I doing something wrong?

My component:
[c

[2019-02-21 14:56] alexcode commented on #41
Maybe you can try to enable it with `:events="['currentTimeTick']"`.

[2019-02-21 14:58] alexcode commented on #40
You should look at custom templates in visjs http://visjs.org/docs/timeline/#Templates

[2019-03-04 20:32] Djshn opened #42 "How to use "select" event when an element on timeline is selected?"
I am trying to add a "select" event so whenever user selects an element on the timeline, it adds a css class to a v-card that holds the details of that element.

`<timeline ref="timeline"
                  :items="events"
                  :options="{}"
                  :events="['select']"
                  @select="highlightSelected"
                  :groups="[{id: 0, content: ''}]"></timeline

[2019-03-05 02:52] Menighin commented on #42
Hi @Djshn, if you could provide a fiddle it would be easier.

One approach is having a variable keeping the selected item. Then, on your `v-card` you could add a CSS class if the `selectedItem` is equal to the `v-card`.

Here's a fiddle with this approach: https://jsfiddle.net/sc23xmzn/

[2019-03-05 20:32] Djshn commented on #42
Thank you! It works. I was using `props.items` instead of `props.items[0]`

[2019-03-13 08:46] freenetwork opened #43 "Network"
How to use network view?

[2019-03-13 13:31] Menighin commented on #43
Hi @freenetwork , your question is too broad.
What exactly are you trying to achieve?
For basic usage, have a look at the [examples](https://github.com/alexcode/vue2vis/tree/master/examples)

[2019-03-15 15:52] bjschwarz opened #44 "How to access onMove timeline event"
In the Vis library you can pass in callbacks within the options of the timeline. Such as onMove, onRemove, etc [(vis).](http://visjs.org/docs/timeline/) I can't find a way to use this in the vue scope. Is there a way to bind these or an alternate route?

[2019-03-15 21:36] Menighin commented on #44
Hi @bjschwarz .
These events you mentioned are configured insite the `options` on Vis. Therefore we can pass the event in the configuration object on vue2vis. Check this fiddle: https://jsfiddle.net/ygcj2ehb/

We could though `emmit` an event by default on this but I don't think thats implemented. @alexcode who implemented this may know better.

Regards,

[2019-03-18 19:50] bjschwarz commented on #44
@Menighin Thanks for the response. I also tried the method you suggested. The problem I ran into is there is no access to the vue object within a callback passed to Vis. The "this" object is not within the functions scope. Any ideas how to get around this?

[2019-03-20 18:37] pleek91 opened #45 "visjs and visjs-community"
The main visjs has been end of life'd in favor of individual repositories for the individual features.

Here's the post about it.
https://github.com/almende/vis/issues/4259

Looks like the network and timeline have been broken out into their own modules.
https://github.com/visjs-community

Considering the main visjs repository is no longer being updated. It would be great to update vue2vis to use

[2019-03-26 14:44] alexcode commented on #45
Thanks for the heads-up @pleek91. I haven't spend time on this project recently but I will still invest although mainly on the timeline as well. I agree with you that if we want to benefit from the vis.js development going forward, we need to use the new modules.

This raise the question of having only one repo/npm module. Should we breakdown this repo as well or importing all the vis-community in

[2019-03-26 14:45] #43 closed

[2019-03-26 15:00] pleek91 commented on #45
@alexcode I like the idea of having multiple repos following the direction that the vis-community repo is going. Also, the timeline-plus module has been actively developed for a while. That one might be ready to use. Not sure about the others.

[2019-03-26 15:26] Menighin commented on #45
Hi guys,

I agree on splitting vue2vis into modules, following Vis direction.
I have been busy lately as well but will help on the Network asap (dunno if the Vis module for network is ready as well).

[2019-03-27 10:54] alexcode commented on #45
@Menighin the network seems to be at https://github.com/visjs-community/visjs-network

[2019-03-27 21:45] micahstubbs commented on #45
hello 👋 **visjs-network** maintainer here.

I'm happy to help update to **vue2vis** to use **visjs-network** for network visualization if that is something that interests you all.

the API of https://www.npmjs.com/package/visjs-network is backwards compatible with the legacy https://www.npmjs.com/package/vis mono-library.

we follow [semver](https://semver.org/) in **visjs-network**, so that backw

[2019-03-28 14:48] pleek91 commented on #45
@yotamberk is this something you would be willing to help with?

[2019-03-30 14:56] yotamberk commented on #45
I will be moving to vis-community in the next few weeks.
Until then you are welcome to use my fork:
https://github.com/yotamberk/timeline-plus

[2019-04-25 19:42] pleek91 commented on #45
Looks like timeline-plus has been moved into vis-community.

[2019-04-26 13:58] yotamberk commented on #45
Not an updated version. Still working on my own fork. I will move there eventually

[2019-05-03 22:31] gg-g commented on #44
Hi @Menighin @bjschwarz

Did you manage to find a solution for this?

I have a similar issue. I'm trying to call a Vue method from within a [groupTemplate](http://visjs.org/docs/timeline/#Configuration_Options). Same issue - see  https://jsfiddle.net/ers37v98/1/

[2019-05-09 09:48] zygisjas opened #46 "Time line is not visible when items object is empty"
I have a weird issue, when I want to render a time line without any items, time line itself is invisible, i can see it in html code in dev-tools, but in browsers window It appears as invisible

[2019-05-10 09:40] alexcode commented on #44
@bjschwarz, an arrow function will share the current scope
`onMove: () => alert("move: " + JSON.stringify(this.selectedId)),`

https://jsfiddle.net/alexkodo/soung8h2/1/

[2019-05-10 09:42] alexcode commented on #46
@zygisjas, any repro steps or JSFiddle ?

[2019-09-04 13:42] r3code commented on #45
@Menighin @alexcode @pleek91 @yotamberk @micahstubbs This week I created [vue-vis-network](https://github.com/r3code/vue-vis-network) based on the vue2vis. It contains only https://github.com/visjs/vis-network.
Should I publish it at NPM?

[2019-09-10 08:53] havardthom commented on #45
Hi, is anyone working on a vue wrapper for the vis-community timeline repo? https://github.com/visjs/vis-timeline

[2019-09-11 20:37] r3code commented on #45
If you think so. You should organize a base repo structure.
_Meantime I thank you for your work - it give me the base for rapid adaptation of new visjs to vue._

[2019-09-17 14:01] NLegendre commented on #46
Hi @zygisjas

I had the same problem. A solution I found was to use some css :
[code]
To force the timeline to be visible all the time.

[2019-09-25 15:59] loveJasmine opened #47 "npm run build failed on windows 10"
report '.' is not internal or external command

[2019-09-27 17:02] #47 closed

[2019-09-28 06:37] loveJasmine opened #48 "how can we generates/build the html file used by a standalone browser, not with the dev-server?"

[2019-09-28 06:56] loveJasmine commented on #48
I see this after run build:
  Tip: built files are meant to be served over an HTTP server.
  Opening index.html over file:// won't work.

so, how to build a index.html can open/run in a browser like chrome?

[2019-09-30 13:09] alexcode commented on #46
@zygisjas, this is not related to this wrapper but to visjs itself. Please follow the solution provided by @NLegendre.

[2019-09-30 13:12] #42 closed

[2019-10-05 07:00] #48 closed

[2019-10-05 07:01] loveJasmine opened #49 "can we run it on windows10?"
I failed on 'npm install'

[2019-10-14 08:25] loveJasmine opened #50 "I am try to migrate to vue-cli3 setting, but I got error"
ERROR  Failed to compile with 2 errors                                                                                                                                                                                          4:23:06 PM

These dependencies were not found:

* -!../node_modules/css-loader/index.js??ref--6-oneOf-1-1!../node_modules/vue-loader/lib/loaders/stylePostLoader.js!../node_modu

[2019-10-20 07:14] #50 closed

[2019-10-25 03:08] micahstubbs commented on #45
@r3code thanks for asking, I would say that's a decision for you and your user community 😄

For upstream library authoring, splitting into multiple repos is nice, because it lets maintainers focus on the part of the library that they really care about.  If you and your fellow maintainers care about all of the parts of vue2vis, then I think the monorepo approach with Lerna that @alexcode suggests s

[2019-11-21 17:07] satkunas opened #52 "Vis-4.21.0 EOL"
The core `vis` package is EOL and no longer maintained.

https://www.npmjs.com/package/vis

Please consider using the following package instead so we can benefit from recent feature/enhancements:

https://github.com/visjs/vis-timeline

[2019-12-20 03:42] alucarddelta opened #53 "Infinite update loop with hierarchical"
The console is reporting

When using the following code.

`<network
      class="network"
      ref="network"
      :nodes="this.vue2vis.nodes"
      :edges="this.vue2vis.edges"
      :options="options"`

`options: {
        layout: {
          hierarchical: {
            direction: "LR"
          }
        },
        nodes: {
          shape: "square"
        },
}`

When ever "hierarchical" is us

[2019-12-20 23:56] justindra opened #54 "Groups does not display if originally empty"
If we place an array of groups that is originally empty on mount/create, and then update the groups prop with a list of groups, the timeline is not updated to display those groups.

[code]

The current workaround is to just add an Unassigned or empty group.
[code]

[2020-01-23 15:28] setaman commented on #53
Have the same issue. I am injecting custom SVG and HTML to create nodes. So adding `{layout: {hierarchical: ...}}` breakes even custom nodes, nodes with default styles are displayed instead

[2020-01-24 08:42] suneab commented on #52
This update would be greatly appreciated. @alexcode

[2020-01-30 02:13] notchris commented on #54
And to also hide the necessary unassigned group:
`{ id: 0, content: 'unassigned', visible: false }`

[2020-02-04 11:07] setaman commented on #53
you can walk around this issue by setting the `hierarchical` options manually like this:
[code]

[2020-02-07 00:39] alucarddelta commented on #53
That worked like a treat!

I ended up moving all my options into that def and it works perfectly!

Thanks @setaman

[2020-02-07 00:39] #53 closed

[2020-02-21 23:39] meshy commented on #45
@r3code thanks for making the fork. If you published your fork to NPM, I'm sure I wouldn't be the only one to use and appreciate it.

[2020-02-22 18:01] r3code commented on #45
@meshy Ok. I'll publish as soon as possible. You are not the first who asked me to publish, so I think I should do it.

[2020-02-22 18:23] meshy commented on #45
@r3code thank you -- don't hurry just for me though -- I'm happy for you to take your time :)

[2020-02-22 20:17] r3code commented on #45
@meshy I just published it to NPM https://www.npmjs.com/package/vue-vis-network

[2020-02-22 21:15] r3code commented on #45
@meshy  I'll publish in 48 hours. I Had published once but forgot to generate dist which I need to create jsfiddle demo

[2020-02-22 21:56] meshy commented on #45
Honestly, there's no rush -- I think I've found a good enough work-around for my use-case now anyway. Still -- others might find it useful!

[2020-02-24 19:41] r3code commented on #45
@meshy Published https://www.npmjs.com/package/vue-vis-network/v/1.0.1

[2020-02-25 00:22] tdong6 commented on #37
Any updates on this? I am running into the same issue.

[2020-02-25 15:56] alexcode commented on #52
@suneab I was working on other projects for a while but I'm planning to update this.

[2020-02-25 15:56] #46 closed

[2020-02-25 15:57] #41 closed

[2020-02-25 16:11] #54 closed

[2020-02-26 07:12] suneab commented on #52
@alexcode thats fantastic news!
Do you have a rough estimate of when you're planning on releasing this?

[2020-02-27 17:19] bjschwarz opened #55 "Dependency not found"
Upon updating to 0.0.17 (the release from 2 days ago) I can no longer import the vue2vis library.

I get this:

[code]

 I think the way to use the component changed to:

`Vue.component('timeline', vue2vis.Timeline);`

when before I was including the components like this:

`import { Timeline, DataSet } from 'vue2vis';`

@alexcode could you explain if the include process has changed with the update

[2020-02-28 16:11] bjschwarz commented on #55
It appears that the /dist files are not being built properly. They don't exist at least with yarn.

vue2vis.css - exists

vue2vis.js - not found
vue2vis.min.js - not found
vue2vis.min.js.map - not found

[2020-03-02 16:23] alexcode commented on #55
@bjschwarz, this is due to the change in bundling tool used, the entry in the package.json must be changed. I'm fixing this but unfortunately I will need to publish a new version. Thanks for the report.

[2020-03-02 16:28] #55 closed

[2020-03-03 12:17] alexcode commented on #49
It's a JS lib so I don't see why we shouldn't be able to run it on windows.

[2020-03-03 12:17] #49 closed

[2020-03-03 17:02] bjschwarz opened #56 "Marker Support"
From what I can tell changes were added in the 0.0.17 release to support customTimeMarkers. But I don't think markers where added in the visjs library until after 4.21.0.

@alexcode do you know if 0.0.18 should support markers or will this not be until #52 has been addressed?

[2020-03-05 08:33] alexcode commented on #56
Yes, I'm not planning to add more functionality before the refactoring I'm working on.

[2020-03-05 22:36] bachy opened #57 "items are added but not visible on timeline"
Hi,
i can't get timeline to display items
i can found them in the timeline object with console but there are not displayed at all
i'm searching for this for hours, but i cant get it work
here is my code https://esadhar.net/gogs/bachir/offline-timeline/src/vue2vis/src/App.vue
thanks

[2020-03-06 08:50] bachy commented on #57
same code is working perfectly without vue2vis
https://esadhar.net/gogs/bachir/offline-timeline/src/master/src/App.vue

[2020-03-10 12:07] suneab commented on #52
@alexcode please reach out if you want help refactoring to the new version

[2020-03-12 17:02] alexcode commented on #52
@suneab I would definitely use some help. I've just publish a new version within the [branch 1.x](https://github.com/alexcode/vue2vis/tree/1.x).
I've just ported the vis packages but there is still a lot to do (documentation, tests, build pipeline,...).
Feel free to submit PRs ;)

[2020-03-31 11:12] polosson commented on #57
Hi!
I'm facing the same problem here, after having updated to version `0.0.18`. Here is a screenshot of the Vue devTools on the component, showing that items are in component' state, but nothing is displayed on timeline (no element in resulting DOM):

![Screenshot_20200331_125840](https://user-images.githubusercontent.com/1675719/78020065-057f5e80-7351-11ea-848f-d1c138206016.png)

But I can't figu

[2020-04-10 08:54] alexcode commented on #57
I'd be happy to help out but I'd need to repro the issue. Here is a working [fiddle](https://jsfiddle.net/alexkodo/0t2zjrwn), just repro your problem from that.

[2020-04-10 09:21] polosson commented on #57
Hi @alexcode!

I've just edited the fiddle: https://jsfiddle.net/2gp9dokz/2/

It seems that the bug occurs when we differ the fetch of items. If you un-comment the `settimeout` on lines 15 and 17, the items are not rendered. In my case, the delay is due to a real distant API fetching, using Axios.

Thanks for your time!

[2020-04-20 17:07] jansim commented on #57
I'm having the same issue as @polosson, but until there is a fix I was able to work around it by delaying the initialization of the Timeline until my data is fetched via `v-if`.

[2020-04-24 06:20] szeref opened #59 "Wind feature is missing from physics option"
Hi Guys!

First of all thanks for your great work everything works fine! The only thing what I missing is the wind feature from physics option. This one:
[wind](https://visjs.github.io/vis-network/examples/network/physics/wind.html)

Is there a chance you will add that to the component?

[2020-04-24 11:14] alexcode commented on #59
Hi @szeref, maybe you should check the alpha release `npm i @vue2vis/network@1.0.1-alpha.86` which will replace the current module.

[2020-04-24 16:29] szeref commented on #59
Hi

[2020-04-24 16:29] #59 closed

[2020-05-13 16:56] MintyOrb commented on #57
I'm experiencing something similar but I'm not loading data from a remote source. The data appears in the component state (as in @polosson's screenshot), the timeline's  framework elements are loaded into the DOM, and the CSS is loaded (appears under 'sources' in dev tools) but nothing is displayed.

I can't reproduce the error in the fiddle and I'm not getting any error messages in the console...

[2020-05-14 16:12] ing200086 opened #60 "Custom template for network"
The code provided on the master branch via this [fiddle](https://jsfiddle.net/alexkodo/n978c58d/) shows a custom component for a timeline item.

How can custom elements be added to a network? I tried to do it a similar way to the fiddle, but it doesn't seem to have that option.

[2020-07-16 19:55] cassiamani opened #62 "Graph2d zoom and slide not working very well"
Hello everyone,

I coded a graph2d component, but I noticed that graph2d got stuck when dragging sideways on the Xaxis and the zoom didn't change the date and time on the Xaxis either.

link to demo: https://codesandbox.io/s/serverless-http-19der?file=/src/App.vue

[2020-08-04 09:20] zhanyuanZhang opened #65 "修改options中的layout报错"
[Vue warn]: You may have an infinite update loop in watcher with expression "options"

found in

[2020-10-01 20:48] thespacedeck opened #67 "Vue3 - Cannot read property '_c' of undefined"
Hi there,

I cannot seem to get vue2vis to work in vue3. I did a simple implementation and seems to crash at:

var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{ref:"visualization"})}

Neither _self or $createElement is available.

Could you perhaps assist?

Thanks,
Wzz

[2020-10-22 09:03] jungyitsai opened #68 "Timeline: cluster options is not working"
Hi, there

I found cluster options is not working in vue2vis. But vis is working.

- vue2vis demo ( not working )
  - https://codepen.io/jungyitsai/pen/RwRoLYj
  - console.log error
[code]

- vis demo ( working )
  - https://codepen.io/jungyitsai/pen/vYKyeOy

[2020-12-16 09:01] Glandos opened #71 "[Timeline] Limitations of using Vue component as items or groups"
I'm just starting to use your (awesome :wave: ) project. I'd like to show some complex items (with images) in timeline, and since I already have some Vue components to handle this, I used [your example](https://jsfiddle.net/alexkodo/n978c58d/) to try it.

However, I noticed some limitations:
- Reactivity is non-existent. Moreover, the template function is called on every select and unselect event,

[2020-12-23 18:08] abhishek0207 opened #73 "[Network] Vis Event Names"
Vis Event names for network specially that are camel cased in vis documentation are not exposed as is. They are exposed as per vue's recommendation of seperating event names with "-". Is it better to put this under documentation like a small "note"?

[2021-01-19 22:52] vakrolme commented on #14
I think the problem might be still present with at least the 'format' property/function as demonstrated here: https://jsfiddle.net/mb8ypnvz/

I have two timelines and I want them to have different label formatting. When I set `options.format` on timeline_2, it affects timeline_1 as well.

Any way to fix it?

[2021-01-26 14:47] Bentipe opened #74 "[Timeline] Nested groups with 3 tree levels do not collapse correctly"
Hi, awesome project and very helpful.

I have the following items, groups and options:

`    groups: [
      {
        id: 0,
        title: 'MO 21',
        content: 'MO 21',
        treeLevel: 1,
        nestedGroups: [1, 6]
      },
      {
        id: 1,
        content: 'Process 4141',
        treeLevel: 2,
        nestedGroups: [2, 3, 4, 5]
      },
      {
        id: 2,
        content: 'P

[2021-01-28 00:59] JacopoKenzo commented on #62
Same problem here - @cassiamani did you fix it?

[2021-01-28 14:22] cassiamani commented on #62
@JacopoKenzo Sorry, but i don't remember how to solve this, but i think used this other dependency on npm: https://www.npmjs.com/package/vue-visjs

[2021-02-04 18:15] yrx0823 opened #75 "dragEnd，dragStart event is invalid"
![image](https://user-images.githubusercontent.com/23035615/106936715-e19e5d80-6757-11eb-8626-3c243c5cd32a.png)
Only dragStart and dragEnd do not take effect

[2021-02-04 19:15] #75 closed

[2021-02-04 19:17] yrx0823 commented on #75
drag-end drag-start ...

[2021-02-08 13:32] Bentipe commented on #74
So I have tried to implement it myself. Updating the version of the timeline seems to fix it.

[2021-02-25 09:41] yrx0823 opened #76 "怎么才能像官方demo那样初始时不抖动？physics 实际时开启的"
https://visjs.github.io/vis-network/examples/network/basicUsage.html

[2021-02-26 10:01] alexcode commented on #74
Hi @Bentipe, it seems that's more related to Vis itself, isn't it ?

[2021-02-26 10:20] alexcode commented on #71
I'm glad you like it @Glandos. I too use some complex vue components in the items and I also use a JS Map to cache the components to avoid to recreate them.
For the lack of reactivity within the component, I either use `this.$parent` either vuex. It is a bit clunky but I haven't found a better solution yet.
I'm not sure I fully understand/encountered your second point, if you ever have the time to

[2021-02-26 10:22] Bentipe commented on #74
Hey @alexcode yup, If the timeline dependency is updated the problem is fixed, will close the issue

[2021-02-26 10:22] #74 closed

[2021-02-26 10:24] alexcode commented on #68
I don't think the cluster option was available when I wrote the example. You might want to try with the latest version of the plugin.

[2021-02-26 11:29] Glandos commented on #71
Right, you remind me that I found another solution, that works really better for me.
Here is a quick excerpt. First the template:
[code]

`Timeline` is your component, and `TimelineCard` is a custom component I made.

Then, the data:
[code]

And… this is basically it. As you can see, the trick is using `refs` embedded in an `v-show="false"` div. And now, your element belong to the Vue tree, are de

[2021-03-12 08:55] szohaib opened #78 "Using without groups parameter in Latest Version"
Hi,
Looks like this [bug](https://github.com/alexcode/vue2vis/issues/31) was solved in version 0.0.16 [here](https://github.com/alexcode/vue2vis/pull/34). However, the fix is missing in the latest version. Can anyone please look into this?

Let me know if you have any further questions.

[2021-05-20 13:23] alexcode commented on #78
Yes PR are always welcome ;)

[2021-06-21 22:20] erlebach opened #84 "How to install Vue2vis on a macbook pro."
I cloned Vue2Vis and executed the command
```npm install --save @vue2vis/graph2d vis-data moment```
as stipulated in the ```packages/graph2d/README.md``` file. Here is the result:
[code]
I thought this procedure was foolproof! :-) Does anybody have any insight to help me out? Thanks.

[2021-06-30 12:02] erlebach commented on #67
I have tried to create a Vue-3 container for vis-network. I got issues related to strict mode. Some how all vis functions ended up with problems in their argument TS. Here is a snapshot.

![](https://cdn.discordapp.com/attachments/856300507483209738/859476041872572456/image0.jpg)

[2021-07-05 15:22] bouffekai opened #85 "How to load french locale ?"
Hello,

I would like to display months in french in my timeline component.
I added the locale options in my component (by following documention) but it doesn't work.

How can I achieve that ?

Thank you for your help

Jeremy

[2021-07-13 03:55] jungyitsai commented on #68
Yes, I see. sorry.

[2021-07-13 03:55] #68 closed

[2021-08-31 09:36] #52 closed

[2021-10-11 10:04] ntma opened #90 "Unmet dependencies with `@vue2vis/network`"
Hi vue2vis team,

I am following this [README](https://github.com/alexcode/vue2vis/blob/master/packages/network/README.md) to setup a [NuxtJs](https://nuxtjs.org/) project with `@vue2vis/network`. However I am getting the following unmet dependencies:
* @egjs/hammerjs;
* keycharm;
* uuid;
* vis-util/esnext/esm/vis-util.js;

Am I missing some step?

### Reproduction
Install `@vue2vis/network` with:

[2022-01-06 07:28] webmalex commented on #67
example for vue 3:

[code]

[2022-01-06 07:34] webmalex commented on #67
minimum for typescript and vue 3:
[code]

[2022-01-19 11:12] Surt commented on #90
Same problem for me with Timeline.

[2022-04-14 12:24] MarceloNG commented on #90
Same problem.

[2022-05-18 03:40] 12032465 opened #98 "The timeline chart don't show the tooltip"
I have set "showTooltips: true" in the options, but the timeline chart still don't show the tooltip, so I want to know whether vue2vis can support timeline chart show the tooltip.
options: {
        showTooltips: true,
        tooltipOnItemUpdateTime: {
          template: (item) => {
            debugger
          }
        }
      },

[2022-05-18 03:57] #98 closed, assigned to nobody

[2022-05-19 09:44] joao-conceicao98 opened #99 "Is it possible to group by lvl in a radial way?"
I want to do something like this:
![image](https://user-images.githubusercontent.com/32332929/169263760-c97ebf5b-b632-4444-bd40-e1fc3d3f20b1.png)

I achieved this by giving each node a position, than I center 2 big nodes whit the background transparent
The problem here is that the fact that it appears the tooltip of those nodes, and cant see the tooltips of the edges
Any suggestions?

[2022-09-15 08:47] alexcode commented on #67
Sorry for the very late reply. @shambu2k you are using the vue2 version of vue2vis. You must migrate to the new package of the repo by modifying the imports to:
[code]